/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/public/js/194.js
/public/js/39.js
/public/js/39.js.LICENSE.txt
/public/js/62.js
/public/js/62.js.LICENSE.txt
/public/js/828.js
/public/js/853.js
/public/js/app.js.LICENSE.txt
